{
  "plugins": {
    "block-as-partial": "./block-as-partial.js"
  },
  "rules": {
    "at-rule-empty-line-before": [2, "always", {
      "except": ["blockless-group", "first-nested"]
    }],
    "at-rule-no-vendor-prefix": 2,
    "block-as-partial": [2, "always", {
      "skip": [
        "./node_modules/normalize.css/normalize.css",
        "src/variables.css",
        "src/base.css",
        "src/custom-selectors.css",
        "src/media-queries.css",
        "src/color-stuff.css",
        "src/font-stuff.css",
        "src/filters.css"
      ]
    }],
    "block-closing-brace-newline-after": [2, "always"],
    "block-closing-brace-newline-before": [2, "always-multi-line"],
    "block-closing-brace-space-after": 0,
    "block-closing-brace-space-before": [2, "always-single-line"],
    "block-no-empty": 2,
    "block-opening-brace-newline-after": [2, "always-multi-line"],
    "block-opening-brace-newline-before": 0,
    "block-opening-brace-space-after": [2, "always-single-line"],
    "block-opening-brace-space-before": [2, "always"],
    "color-hex-case": [1, "lower"],
    "color-hex-length": 0,
    "color-no-hex": 0,
    "color-no-invalid-hex": 2,
    "color-no-named": 1,
    "comment-empty-line-before": [1, "always", {
      "except": ["first-nested"]
    }],
    "comment-space-inside": [2, "always"],
    "custom-media-pattern": 0,
    "custom-property-no-outside-root": 0,
    "custom-property-pattern": 0,
    "declaration-bang-space-after": [2, "never"],
    "declaration-bang-space-before": [2, "always"],
    "declaration-block-semicolon-newline-after": [2, "always-multi-line"],
    "declaration-block-semicolon-newline-before": [2, "never-multi-line"],
    "declaration-block-semicolon-space-after": [2, "always-single-line"],
    "declaration-block-semicolon-space-before": [2, "never"],
    "declaration-colon-newline-after": 0,
    "declaration-colon-space-after": [2, "always"],
    "declaration-colon-space-before": [2, "never"],
    "declaration-no-important": 1,
    "function-blacklist": 0,
    "function-calc-no-unspaced-operator": 2,
    "function-comma-newline-after": 0,
    "function-comma-newline-before": 0,
    "function-comma-space-after": [2, "always"],
    "function-comma-space-before": [2, "never"],
    "function-linear-gradient-no-nonstandard-direction": 2,
    "function-parentheses-space-inside": [2, "never"],
    "function-space-after": [2, "always"],
    "function-url-quotes": [2, "single"],
    "function-whitelist": 0,
    "indentation": [2, 2, {
      "except": ["value"]
    }],
    "max-line-length": [2, 72],
    "media-feature-colon-space-after": [2, "always"],
    "media-feature-colon-space-before": [2, "never"],
    "media-feature-name-no-vendor-prefix": 2,
    "media-feature-range-operator-space-after": [2, "always"],
    "media-feature-range-operator-space-before": [2, "always"],
    "media-query-list-comma-newline-after": [2, "always-multi-line"],
    "media-query-list-comma-newline-before": [2, "never-multi-line"],
    "media-query-list-comma-space-after": [2, "always-single-line"],
    "media-query-list-comma-space-before": [2, "never"],
    "media-query-parentheses-space-inside": [2, "never"],
    "nesting-block-opening-brace-newline-before": [2, "always"],
    "nesting-block-opening-brace-space-before": [1, "never"],
    "no-eol-whitespace": 2,
    "no-missing-eof-newline": 0,
    "no-multiple-empty-lines": 1,
    "number-leading-zero": [2, "always"],
    "number-max-precision": [2, 3],
    "number-no-trailing-zeros": 2,
    "number-zero-length-no-unit": 2,
    "property-blacklist": 0,
    "property-no-vendor-prefix": 2,
    "property-unit-blacklist": 0,
    "property-unit-whitelist": 0,
    "property-whitelist": 0,
    "root-no-standard-properties": 1,
    "rule-nested-empty-line-before": [2, "always-multi-line", {
      "except": ["first-nested"],
      "ignore": ["after-comment"]
    }],
    "rule-no-duplicate-properties": 1,
    "rule-no-shorthand-property-overrides": 1,
    "rule-no-single-line": 0,
    "rule-non-nested-empty-line-before": [2, "always", {
      "ignore": ["after-comment"]
    }],
    "rule-properties-order": [1, "alphabetical"],
    "rule-single-line-max-declarations": [2, 3],
    "rule-trailing-semicolon": [1, "always"],
    "selector-combinator-space-after": [2, "always"],
    "selector-combinator-space-before": [2, "always"],
    "selector-list-comma-newline-after": [2, "always"],
    "selector-list-comma-newline-before": [2, "never-multi-line"],
    "selector-list-comma-space-after": [2, "always-single-line"],
    "selector-list-comma-space-before": [2, "never"],
    "selector-no-attribute": 0,
    "selector-no-combinator": 0,
    "selector-no-id": 1,
    "selector-no-type": 0,
    "selector-no-universal": 0,
    "selector-no-vendor-prefix": 2,
    "selector-pseudo-element-colon-notation": [1, "double"],
    "selector-root-no-composition": 1,
    "string-quotes": [2, "single"],
    "unit-blacklist": 0,
    "unit-whitelist": 0,
    "value-list-comma-newline-after": [2, "always-multi-line"],
    "value-list-comma-newline-before": [2, "never-multi-line"],
    "value-list-comma-space-after": [2, "always-single-line"],
    "value-list-comma-space-before": [2, "never"],
    "value-no-vendor-prefix": 2
  }
}
