body {
  background: var(--offwhite);
  color: var(--primaryColor);
  font-size: var(--fontSize);
  line-height: calc(var(--fontSize) * 1.5);
  padding: calc((var(--fontSize) / 2) + 1px);
  text-align: center;

  > h1 {
    border-radius: 2px;
    color: #666;
    transform: scaleX(0.5);
  }
}
